<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>ALL</string>
		<string>AND</string>
		<string>AS</string>
		<string>ASC</string>
		<string>BETWEEN</string>
		<string>BY</string>
		<string>CROSS</string>
		<string>DELETE</string>
		<string>DESC</string>
		<string>DISTINCT</string>
		<string>EXISTS</string>
		<string>FALSE</string>
		<string>FOR</string>
		<string>FROM</string>
		<string>GROUP</string>
		<string>HAVING</string>
		<string>IF</string>
		<string>IN</string>
		<string>INNER</string>
		<string>INSERT</string>
		<string>INTERSECT</string>
		<string>INTO</string>
		<string>IS</string>
		<string>JOIN</string>
		<string>LEFT</string>
		<string>LIKE</string>
		<string>LIMIT</string>
		<string>NULL</string>
		<string>ON</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>OUT</string>
		<string>OUTER</string>
		<string>RETURNING</string>
		<string>SELECT</string>
		<string>SESSION</string>
		<string>SET</string>
		<string>SKIP</string>
		<string>TABLE</string>
		<string>TRUE</string>
		<string>UNION</string>
		<string>UPDATE</string>
		<string>VALUES</string>
		<string>WHERE</string>
		<string>ABS</string>
		<string>COUNT</string>
		<string>GROUPING</string>
		<string>ROUND</string>
		<string>SUM</string>
		<string>SYSDATE</string>
		<string>TRIM</string>
		<string>UPPER</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
