<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>autocompleteWords</key>
	<array/>
	<key>keywords</key>
	<array>
		<string>__arglist</string>
		<string>__makeref</string>
		<string>__reftype</string>
		<string>__refvalue</string>
		<string>abstract</string>
		<string>as</string>
		<string>add</string>
		<string>base</string>
		<string>bool</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>checked</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>decimal</string>
		<string>default</string>
		<string>delegate</string>
		<string>do</string>
		<string>double</string>
		<string>dynamic</string>
		<string>else</string>
		<string>enum</string>
		<string>event</string>
		<string>explicit</string>
		<string>extern</string>
		<string>false</string>
		<string>finally</string>
		<string>fixed</string>
		<string>float</string>
		<string>for</string>
		<string>foreach</string>
		<string>goto</string>
		<string>get</string>
		<string>if</string>
		<string>implicit</string>
		<string>in</string>
		<string>int</string>
		<string>interface</string>
		<string>internal</string>
		<string>is</string>
		<string>lock</string>
		<string>long</string>
		<string>namespace</string>
		<string>new</string>
		<string>null</string>
		<string>object</string>
		<string>operator</string>
		<string>out</string>
		<string>override</string>
		<string>params</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>readonly</string>
		<string>ref</string>
		<string>remove</string>
		<string>return</string>
		<string>sbyte</string>
		<string>sealed</string>
		<string>set</string>
		<string>short</string>
		<string>sizeof</string>
		<string>stackalloc</string>
		<string>static</string>
		<string>string</string>
		<string>struct</string>
		<string>switch</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>uint</string>
		<string>ulong</string>
		<string>unchecked</string>
		<string>unsafe</string>
		<string>ushort</string>
		<string>using</string>
		<string>virtual</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>partial</string>
		<string>where</string>
		<string>yield</string>
		<string>var</string>
		<string>from</string>
		<string>join</string>
		<string>on</string>
		<string>equals</string>
		<string>select</string>
		<string>group</string>
		<string>by</string>
		<string>let</string>
		<string>orderby</string>
		<string>ascending</string>
		<string>descending</string>
		<string>into</string>
		<string>async</string>
		<string>await</string>
		<string>module</string>
		<string>assembly</string>
	</array>
</dict>
</plist>
