<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>{</string>
	<key>endFirstMultiLineComment</key>
	<string>}</string>
	<key>beginSecondMultiLineComment</key>
	<string>(*</string>
	<key>endSecondMultiLineComment</key>
	<string>*)</string>
	<key>functionDefinition</key>
	<string>^\s*\w*(function|procedure|method|operator|constructor|finalizer)\s+\w\(.*\).*;$</string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>add</string>
		<string>and</string>
		<string>array</string>
		<string>as</string>
		<string>asc</string>
		<string>assembly</string>
		<string>async</string>
		<string>autoreleasepool</string>
		<string>await</string>
		<string>begin</string>
		<string>block</string>
		<string>break</string>
		<string>by</string>
		<string>case</string>
		<string>class</string>
		<string>const</string>
		<string>constructor</string>
		<string>continue</string>
		<string>default</string>
		<string>delegate</string>
		<string>deprecated</string>
		<string>desc</string>
		<string>distinct</string>
		<string>div</string>
		<string>do</string>
		<string>downto</string>
		<string>dynamic</string>
		<string>each</string>
		<string>else</string>
		<string>empty</string>
		<string>end</string>
		<string>ensure</string>
		<string>enum</string>
		<string>event</string>
		<string>except</string>
		<string>exit</string>
		<string>extension</string>
		<string>external</string>
		<string>false</string>
		<string>finalizer</string>
		<string>finally</string>
		<string>flags</string>
		<string>for</string>
		<string>from</string>
		<string>function</string>
		<string>global</string>
		<string>group</string>
		<string>has</string>
		<string>if</string>
		<string>implements</string>
		<string>implementation</string>
		<string>implies</string>
		<string>in</string>
		<string>index</string>
		<string>inherited</string>
		<string>inline</string>
		<string>interface</string>
		<string>into</string>
		<string>invariants</string>
		<string>is</string>
		<string>iterator</string>
		<string>join</string>
		<string>locked</string>
		<string>locking</string>
		<string>loop</string>
		<string>mapped</string>
		<string>matching</string>
		<string>method</string>
		<string>mod</string>
		<string>module</string>
		<string>namespace</string>
		<string>nested</string>
		<string>new</string>
		<string>nil</string>
		<string>notify</string>
		<string>nullable</string>
		<string>of</string>
		<string>old</string>
		<string>on</string>
		<string>operator</string>
		<string>optional</string>
		<string>or</string>
		<string>order</string>
		<string>out</string>
		<string>override</string>
		<string>parallel</string>
		<string>params</string>
		<string>partial</string>
		<string>pinned</string>
		<string>private</string>
		<string>procedure</string>
		<string>property</string>
		<string>protected</string>
		<string>public</string>
		<string>raise</string>
		<string>read</string>
		<string>readonly</string>
		<string>record</string>
		<string>reintroduce</string>
		<string>remove</string>
		<string>repeat</string>
		<string>require</string>
		<string>result</string>
		<string>reverse</string>
		<string>sealed</string>
		<string>select</string>
		<string>selector -</string>
		<string>self</string>
		<string>sequence</string>
		<string>set</string>
		<string>shl</string>
		<string>shr</string>
		<string>skip</string>
		<string>static</string>
		<string>step</string>
		<string>strong</string>
		<string>take</string>
		<string>then</string>
		<string>to</string>
		<string>true</string>
		<string>try</string>
		<string>type</string>
		<string>unit</string>
		<string>unretained</string>
		<string>unsafe</string>
		<string>until</string>
		<string>uses</string>
		<string>using</string>
		<string>var</string>
		<string>virtual</string>
		<string>weak</string>
		<string>where</string>
		<string>while</string>
		<string>with</string>
		<string>write</string>
		<string>xor</string>
		<string>yield</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
